aiohttp==3.8.5
aiosignal==1.3.1
aiostream==0.4.5
annotated-types==0.5.0
anyio==4.0.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==2.0.0
exceptiongroup==1.1.3
fastapi==0.103.0
frozenlist==1.4.0
grpclib==0.4.3
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
markdown-it-py==3.0.0
mdurl==0.1.2
modal==0.51.3280
multidict==6.0.4
protobuf==4.24.2
pydantic==2.3.0
pydantic_core==2.6.3
Pygments==2.16.1
rich==13.5.2
sigtools==4.0.1
sniffio==1.3.0
starlette==0.27.0
synchronicity==0.5.3
tblib==2.0.0
toml==0.10.2
typer==0.9.0
types-certifi==2021.10.8.3
types-toml==0.10.8.7
typing_extensions==4.7.1
watchfiles==0.20.0
yarl==1.9.2
zipp==3.16.2
